<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME MY BIODATA</h1>
    <header>
        <div class="container">
            <ul>
                <li class="active"><a href="home.html">HOME</a></li>
                <li><a href="nama.html">ASHROF</a></li>
                <li><a href="class.html">TEKNIK</a></li>
                <li><a href="npm.html">2022020100027</a></li>
            </ul>
        </div>
    </header>
    
</body>
</html>